*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #181c3f;
    font-family: 'Manjari', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/*INDEX*/
/*HEADER*/
.header h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1,2rem;
}
.title h1 {
    background-color: #070711;
    padding: 15px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
}
.article h1{
    text-align: center;
}
/* CONTAINERS */
.container {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}

.container>.header, .container>.content, .container>.sidebar, .container>.footer, .container>div {
    background: #2a2f33;
    padding: 20px;
    border: 1px solid #000000;
}

.container>.header, .container>.footer {
    grid-column: 1/-1;
    background-image: url("../images/banner.jpg");
    color: #ffffff;
    padding: 3%;
}

.container>.content {
    grid-column: span 3;
    grid-row: span 4;
}

.content>.article {
    background: #30373d;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9
}

.content .article h1,
.content .article p {
    padding: 10px;
}

.container>.sidebar {
    grid-column: span 2;
    grid-row: span 4;
    background: #2a2f33;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .sidebar img {
    display: block;
    width: 100%;
    margin-top: 5px;
}

.container>.related-post {
    background: #2d3436;
    color: #ffffff;
    height: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}

.container>.related-post:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1200px) {
    .header {
        text-align: center;
    }
    .container .content {
        grid-column: 1 / -1;
    }
    .container .sidebar {
        grid-column: 1 / 6;
    }

    .container .related-post {
        grid-column: 1/-1;
    }
}

/*IMAGENES GALERIA*/
.tituloGaleria{
    font-family: 'Manjari', sans-serif;
    text-align: center;
    color: white;
}
.img{
    width: 100%;
}
.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}
.column{
    flex: 25%;
    padding: 5px;
}
.column img{
    margin-top: 5px;
}
@media (max-widht: 800px){
    .column{
        flex: 50%;
    }
}
@media (max-widht: 600px){
    .column{
        flex: 100%;
    }
}


/*IMAGENES Y TEXTO SIDEBAR*/
.sidebar p{
    text-align: center;
}
.img1{
    text-align: center;
}
.img2{
    text-align: center;
}
.img3{
    text-align: center;
}

/*FOOTER*/
.footer{
    width: 100%;
    height: 0%;
    background-color: #0a141d;
}
.footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
    text-align: center;
    color:white;
}
.footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .grupo-1 .box figure img{
    width: 250px;
}
.footer .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 25px;
}
.footer .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.grupo-2{
    background-color: #121b24;
    text-align: center;
    color:white;
}
.red-social{
    min-width: 350px;
    display: flex;
    justify-content: space-around;
}
.footer .grupo-1 .red-social a{
    text-decoration: none;
    font-size: 30px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #181c3f;
    color: #f1f1f1;
    border-radius: 30%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
}
.red-social a:hover{
    transform: scale(1.2);
}


